
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:rgb(68, 148, 223);">
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
 </button>



<div class="collapse navbar-collapse" id="collapsibleNavId">
  <a class="navbar-brand" href="#">MyWork</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          
         
          
         
      </ul>
      </div>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="chercher le nom">
          <button class="btn  my-2 my-sm-0" type="submit">Search</button>
      </form>
</div>
</nav>
<div style="text-align:center">
  <h1>
   Les Departements
  </h1>
  <ul *ngFor="let item of departements">
    <li>
      <h2>Nom departemant :{{item.nom}}</h2>
    </li>
    <li><h3>Liste des etudiants</h3>
      <ul *ngFor="let item of item.etudiants">
        <li>
          <h5><strong>Nom_etudiant :</strong>{{item.nom}}, <strong>Prenom_etudiant:</strong> {{item.prenom}}</h5>
        </li>
      </ul>
    </li>
    <li><h3>Liste des enseignants</h3>
      <ul *ngFor="let item of item.enseignants">
        <li>
          <h5><strong>Nom_enseignant :</strong>{{item.nom}},<strong>Prenom_enseignant:</strong> {{item.prenom}}</h5>
        </li>
      </ul>
    </li>
  </ul>
</div>

